USE [master]
GO
/****** Object:  Database [TpPersonaje]    Script Date: 12/5/2023 12:10:53 ******/
CREATE DATABASE [TpPersonaje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TpPersonaje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TpPersonaje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TpPersonaje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TpPersonaje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TpPersonaje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TpPersonaje]
GO
/****** Object:  User [PersonajeSerie]    Script Date: 12/5/2023 12:10:53 ******/
CREATE USER [PersonajeSerie] FOR LOGIN [PersonajeSerie] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 12/5/2023 12:10:53 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [PersonajeSerie]
GO
/****** Object:  Table [dbo].[Peli_Serie]    Script Date: 12/5/2023 12:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peli_Serie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](4000) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[FechaCreacion] [date] NOT NULL,
	[Calificacion] [float] NOT NULL,
 CONSTRAINT [PK_Peli_Serie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 12/5/2023 12:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](4000) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Peso] [varchar](50) NOT NULL,
	[Historia] [varchar](4000) NOT NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonajeXPeli_Serie]    Script Date: 12/5/2023 12:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonajeXPeli_Serie](
	[fkPersonaje] [int] NOT NULL,
	[fkPeli_Serie] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Peli_Serie] ON 

INSERT [dbo].[Peli_Serie] ([Id], [Imagen], [Titulo], [FechaCreacion], [Calificacion]) VALUES (1, N'https://es.web.img3.acsta.net/medias/nmedia/18/73/54/02/20415767.jpg', N'Aladdín', CAST(N'1992-11-25' AS Date), 4)
INSERT [dbo].[Peli_Serie] ([Id], [Imagen], [Titulo], [FechaCreacion], [Calificacion]) VALUES (2, N'https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/CE555DC1CB28435986B9983496FF2E3C70E8B4A990E333EC35089C8780A99D17/scale?https://www.imdb.com/title/tt4154756/mediaviewer/rm3645348609/?ref_=tt_ov_i', N'Avengers: Infinity War', CAST(N'2018-04-26' AS Date), 4.2)
INSERT [dbo].[Peli_Serie] ([Id], [Imagen], [Titulo], [FechaCreacion], [Calificacion]) VALUES (3, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ63Co08Xo67f1MDqM3-tlCh1j_4hUpo7Y4LuA2NXzN6z_mtfQ7', N'Toy Story 3', CAST(N'2010-06-15' AS Date), 4.1)
SET IDENTITY_INSERT [dbo].[Peli_Serie] OFF
GO
SET IDENTITY_INSERT [dbo].[Personaje] ON 

INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (1, N'https://cdn.s7.shopdisney.eu/is/image/ShopDisneyEMEA/33631_aladdin_character_sq_l?$characterImageSizeDesktop1x$&fit=constrain', N'Aladdin', 18, N'64kg', N'Aladdín es un joven pobre que, junto con su inseparable mono Abú, se dedica a robar o engañar a la gente de Ágrabah para poder sobrevivir, soñando con ser algún día alguien importante. Se enamora de la princesa Jasmine, hija del Sultán.')
INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (2, N'https://cdn.s7.shopdisney.eu/is/image/ShopDisneyEMEA/33631_darth_vader_character_sq_l?$characterImageSizeDesktop1x$&fit=constrain', N'Darth Vader', 45, N'136kg', N'ras salvar a Palpatine de Windu, Anakin se arrodilla ante su nuevo maestro y este lo asigna a los Sith y le da su propio nombre elegante de Señor Sith: Darth Vader, siendo la primera de muchas decisiones que Palpatine tomará por Anakin antes de que finalmente se rompa')
INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (3, N'https://cdn.s7.shopdisney.eu/is/image/ShopDisneyEMEA/33631_buzz_lightyear_character_sq_l?$characterImageSizeDesktop1x$&fit=constrain', N'Buzz Lightyear', 0, N'2kg', N'Buzz Lightyear es un guardián espacial del Comando Estelar, el cual lleva a cabo una misión, junto con su oficial al mando y mejor amiga, Alisha Hawthorne, deciden aterrizar y explorar el planeta habitable, T''Kani Prime para corroborar si el mismo tiene las condiciones ideales para la colonización.')
SET IDENTITY_INSERT [dbo].[Personaje] OFF
GO
INSERT [dbo].[PersonajeXPeli_Serie] ([fkPersonaje], [fkPeli_Serie]) VALUES (1, 1)
INSERT [dbo].[PersonajeXPeli_Serie] ([fkPersonaje], [fkPeli_Serie]) VALUES (2, 4)
INSERT [dbo].[PersonajeXPeli_Serie] ([fkPersonaje], [fkPeli_Serie]) VALUES (3, 3)
GO
ALTER TABLE [dbo].[PersonajeXPeli_Serie]  WITH CHECK ADD  CONSTRAINT [FK_PersonajeXPeli_Serie_Peli_Serie] FOREIGN KEY([fkPeli_Serie])
REFERENCES [dbo].[Peli_Serie] ([Id])
GO
ALTER TABLE [dbo].[PersonajeXPeli_Serie] CHECK CONSTRAINT [FK_PersonajeXPeli_Serie_Peli_Serie]
GO
ALTER TABLE [dbo].[PersonajeXPeli_Serie]  WITH CHECK ADD  CONSTRAINT [FK_PersonajeXPeli_Serie_Personaje] FOREIGN KEY([fkPersonaje])
REFERENCES [dbo].[Personaje] ([Id])
GO
ALTER TABLE [dbo].[PersonajeXPeli_Serie] CHECK CONSTRAINT [FK_PersonajeXPeli_Serie_Personaje]
GO
USE [master]
GO
